# Python
venv/
__pycache__/
*.pyc
*.pth
*.pt
.env
*.csv
*.xlsx
models/
README.md


.venv/
venv/
env/


.idea/
.vscode/

*.log


.DS_Store
Thumbs.db

data/cache/
data/articles_archive/

data/models/**/checkpoints/
data/models/**/*.safetensors
data/models/**/optimizer.pt
data/models/**/scheduler.pt
data/models/**/rng_state.pth
data/models/**/training_args.bin

data/output/*.xlsx